header {
  background: #e3e3e3;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li + li{
  padding-left: 1rem;
}

nav {
  margin-bottom: 0.5rem;
}

li#user, li#logout {
  float: right;
}

ul.tasks > li {
  padding: 0.5rem 0;
}

.green {
  display: inline-block;
  background-color: green;
  color: white;
}

.red {
  display: inline-block;
  background-color: red;
  color: white;
}

footer {
  background: #e3e3e3;
  padding: 1rem;
  text-align: right;
}

ul#names {
  padding: 0.5rem;
}

ul#names > li + li {
  padding-top: 0.5rem;
}

form {
  margin: 16px auto;
  width: 50%;
}

label {
  display: inline-block;
  width: 100px;
  text-align: right;
}

form > ul > li + li {
  margin-top: 0.5rem;
}

button#login {
  margin-left: 105px;
  margin-top: 1rem;
}

p#loginmsg {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.projects {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

table.project-card{
  border-collapse: collapse;
  width: 400px;
}

table.project-card + table.project-card {
  margin-top: 2rem;
}

th {
  text-align: left;
  padding-left: 0.25rem;
}

th:nth-child(even) {
  text-align: right;
}

tr:nth-child(odd) {
  background-color: grey;
}

tr:nth-child(even) {
  background-color: lightgray;
}

td:nth-child(even) {
  text-align: right;
}

td {
  padding: 0.25rem;
}