html {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: #e3e3e3;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li + li{
  padding-left: 1rem;
}

nav {
  margin-bottom: 0.5rem;
}

li#user, li#logout {
  float: right;
}

ul.tasks > li {
  padding: 0.5rem 0;
}

footer {
  background: #e3e3e3;
  padding: 1.5rem;
  text-align: left;
  font-size: 0.9rem;
}

ul#names {
  padding: 0.5rem;
}

ul#names > li + li {
  padding-top: 0.5rem;
}

form {
  margin: 16px auto;
  width: 50%;
}

label {
  display: inline-block;
  width: 100px;
  text-align: right;
}

form > fieldset > ul > li + li {
  margin-top: 0.5rem;
}

button#login, button#createProject {
  margin-left: 105px;
  margin-top: 1rem;
}

textarea {
  vertical-align: top;
}

form#createProject > fieldset > ul > li > input {
  width: 40%;
}

form#createProject > fieldset > ul > li > textarea {
  height: 8rem;
  width: 70%;
  resize: none;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
}

p#loginmsg {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.projects {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

#editlink {
  text-align: center;
}

table.project-card{
  border-collapse: collapse;
  width: 400px;
  max-width: 400px;
}

table.project-card + table.project-card {
  margin-top: 2rem;
}

th {
  text-align: left;
  padding-left: 0.25rem;
}

th:nth-child(even) {
  text-align: right;
}

tr:nth-child(odd) {
  background-color: grey;
}

tr:nth-child(even) {
  background-color: lightgray;
}

td:nth-child(even) {
  text-align: right;
}

td {
  padding: 0.25rem;
}

ul.tasklist {
  margin-bottom: 1rem;
}

form.search {
  width: 25%;
}

form.search > fieldset {
  border: none;
}


div.searchfield {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

div.searchfield > button {
margin-top: 1rem;
}

table.projectDetail {
  width: 400px;
}